cluster_details.md
.Rproj.user
Spark/sample_taxi.csv
data/
1-intro-to-R.nb.html
1-intro-to-R_files
2-dplyrXdf.nb.html
2-dplyrXdf_files
model14.csv
trip-report.md
.vs/
td-quid-test.R
trip-reports/
.Rhistory
notes.md
R-cadence.Rproj
R-cadence.rxproj
R-cadence.sln
class-examples.R
create-users.sh
R-cadence.wiki/
credentials/
Slides/MRS-Overview.pptx
mortgage.trainvalidate.train.xdf
mortgage.trainvalidate.validate.xdf
mortgage.xdf
scored.xdf