.reveal .sourceCode.r .kw, .sourceCode.r .er {
  color:inherit;
  font-weight: normal;
}
.reveal .sourceCode.r .co {
  font-style: normal;
}

.reveal .slides {
  text-align: inherit;
}

.reveal .slide.level2 h1 {
  font-size: 46px;
  color: orange;
}

.reveal pre code {
  font-size: 20px;
  line-height: 1.3;
}

.reveal {
  font-size: 30px;
}

.reveal .takeaway h3, .reveal .takeaways .current-fragment {
  color: yellow;
}

.reveal .reactive-graph img {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

.reveal .slide .tip {
  margin-top: 3em;
  font-size: 80%;
}



/*********************************************
 * OTHER STATES
 *********************************************/

.fullscreen .state-background {
  width: 100%;
  height: 100%;
}

.fullscreen .reveal .slides {
  margin: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  right: 0px;
  top:0px;
  bottom: 0px;
}

.fullscreen .reveal .slides > section {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: left;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin:0px;
  padding:20px;
  padding-top: 40px;
}

.fullscreen .reveal .slides > section > section {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  min-height: 100%;
  margin: 0px;
  text-align: left;
  padding:20px;
  padding-top: 40px;
}
